/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html * {
  font-family: Arial;
  text-align: center;
}

body {
  background: #b2cecf;
  font-size: 20px;
}

h1 {
  font-size: 48px;
  color: #dd8b1a;
}

#welcome {
  display:inline-block;
  word-wrap: break-word;
  width: 600px;
}

#label {
  display:block;
}

#phone_number {
  text-align: left;
  font-size: 14px;
}

#message {
  text-align: left;
  font-size: 14px;
  width: 500px;
}
